@using simple_todo_web_app.Common.Constants
@using simple_todo_web_app.Common.Utilities
@model simple_todo_web_app.Models.HomeViewModel;
@{
    ViewData["Title"] = "ホーム画面";
}

@section Header {
    <nav class="navbar bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <span class="navbar-brand">習慣化の勇者</span>
            <form asp-controller="Account"
                  asp-action="Logout"
                  method="post">
                <button type="submit" class="btn btn-outline-light">
                    ログアウト
                </button>
            </form>
        </div>
    </nav>
}

<div class="text-center">
    <h1>
        ホーム画面
    </h1>
    <!-- 上段（横並び） -->
    <div class="container">
        <div class="row">
            <!-- 本日のタスク -->
            <div class="col-12 col-md-6 block-group">
                <div class="block-inner">
                    <div class="block-title">
                        本日のタスク
                    </div>

                    <!-- 自身のタスク数分ループ -->
                    @foreach (var todoTask in Model.ToDoTaskList)
                    {
                        <!-- 論理削除済みのタスクは表示しない -->
                        @if (todoTask.IsDeleted) { continue; }

                        <div class="d-flex justify-content-between align-items-center py-1">
                            <!-- タスク名 -->
                            <div class="text-start">
                                @todoTask.TaskName
                            </div>
                            <!-- タスク完了ボタン -->
                            @if (todoTask.IsCompletedToday)
                            {
                                <button class="btn btn-primary btn-task" disabled>完了済み</button>
                            }
                            else
                            {
                                <form method="post"
                                      asp-action="CompleteTask"
                                      asp-route-taskid="@todoTask.TaskId">
                                    <button type="submit"
                                            class="btn btn-primary btn-task">
                                        完了
                                    </button>
                                </form>
                            }
                        </div>
                    }
                </div>
            </div>
            <!-- タスク完了履歴 -->
            <div class="col-12 col-md-6 block-group">
                <div class="block-inner">

                    <div class="block-title">
                        タスク完了履歴
                    </div>

                    <!-- タスク完了履歴可視化欄 -->
                    @if (Model.IsValid && Model.Today.HasValue)
                    {
                        var startDate = Model.Today.Value.AddDays((6 - (int)Model.Today.Value.DayOfWeek));

                        <div class="d-flex flex-row-reverse justify-content-center gap-2">
                            @for (var i = 0; i < DateTimeUtility.CalcWeekNeeded(Model.Today.Value, TaskConstants.HistoryDays); i++)
                            {
                                <div class="d-flex flex-column-reverse gap-1">
                                    @for (var j = 0; j < 7; j++)
                                    {
                                        var currentDate = startDate.AddDays(-((i * 7) + j));
                                        var currentDayTaskHistory = Model.TaskHistoryList
                                            .Where(x => x.CompleteDate == currentDate)
                                            .FirstOrDefault();

                                        @if (currentDayTaskHistory != null)
                                        {
                                            <div class="task-history-block-on"></div>
                                        }
                                        else
                                        {
                                            <div class="task-history-block-off"></div>
                                        }
                                    }
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <div>
                            タスクの履歴情報を取得できませんでした
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- 下段（横並び） -->
    <div class="container">
        <div class="row">
            <!-- キャラクター情報 -->
            <div class="col-12 col-md-6 block-group">
                <div class="block-inner">
                    <div class="block-title">
                        キャラクター情報
                    </div>
                    <div class="d-flex align-items-center">
                        <!-- 左 -->
                        <div class="w-50">
                            <p>名前：@Model.DisplayName</p>
                            <p>レベル：@Model.Level</p>
                            <img src="~/images/profile-yuusya.png"
                                 alt="Character Image"
                                 style="width: 128px; height: 128px;"
                                 class="img-fluid" />
                        </div>
                        <!-- 右 -->
                        <div class="w-50">
                            <!-- 今後実装 -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- ステータス情報 -->
            <div class="col-12 col-md-6 block-group">
                <div class="block-inner">
                    <div class="block-title">
                        ステータス振り分け
                    </div>

                    <!-- パラメーター表示 -->
                    @if (Model.IsValid)
                    {
                        <div>運動ポイント：<span id="exercise-points"></span></div>
                        <div>勉強ポイント：<span id="study-points"></span></div>
                        <div>家事ポイント：<span id="housework-points"></span></div>

                        (string name, int param)[] stats = new[]
                        {
                            ("HP",Model.CharacterStats!.HP),
                            ("MP",Model.CharacterStats.MP),
                            ("ATK",Model.CharacterStats.ATK),
                            ("DEF",Model.CharacterStats.DEF),
                            ("SPD",Model.CharacterStats.SPD),
                            ("MATK",Model.CharacterStats.MATK),
                        };

                        @foreach (var stat in stats)
                        {
                            <!-- パラメーター要素 -->
                            <div class="d-flex justify-content-between align-items-center py-1">

                                <div class="d-flex justify-content-start align-items-start">
                                    <!-- HP:数値 -->
                                    <div class="status-text">@stat.name：@stat.param</div>

                                    <div class="d-flex justify-content-start">

                                        @for (var i = 0; i < CharacterConstants.MaxDisplayStatValue; i++)
                                        {
                                            <div class="status-bar @(i < stat.param ? "status-bar-main" : "status-bar-gray")"></div>
                                        }
                                    </div>
                                </div>

                                <!-- ステ振りボタン-->
                                <button type="button" class="btn btn-primary status-btn-add" data-stat="@stat.name">＋</button>
                            </div>
                        }
                        
                        <div class="text-end w-100 py-2">

                            <!-- ステ振りリセット-->
                            <button type="button" id="stat-reset" style="flex:3" class="btn btn-primary">
                                リセット
                            </button>

                            <!-- ステ振り確定-->
                            <button type="button" id="stat-apply" style="flex:3" class="btn btn-primary">
                                振り分け確定
                            </button>
                        </div>
                    }
                    else
                    {
                        <div>パラメーターが取得できませんでした</div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Html.AntiForgeryToken()
    <script src="~/js/unallocatedPoints.js" asp-append-version="true"></script>
    <script src="~/js/statAllocation.js" asp-append-version="true"></script>
    @if (Model.IsValid)
    {
        <script>
            unAllocatedPoints.ExercisePoints = @(Model.UnallocatedPoints!.ExercisePoints);
            unAllocatedPoints.StudyPoints = @(Model.UnallocatedPoints.StudyPoints);
            unAllocatedPoints.HouseworkPoints = @(Model.UnallocatedPoints.HouseworkPoints);
            updatePointsDisplay();
            updateButtons();
        </script>
    }
}